.t-btn {
    margin-top: 1.5em;
    font-size: 18px;
    padding: 16px 30px;
    border-radius: 15px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    box-shadow: 0 5px 10px 0 rgb(85 58 209);
    background-size: 200% auto;
    background-image: linear-gradient(to right, #423dd7 0%, #dd25a4 45%, #4d3cd4 100%);
    font-family: 'Roboto Slab', serif;
    &:hover {
        background-position: right center;  
        transform: scale(.9);
    }
}